#root {
    padding: 12px;
}
.gallery-container {
    display: flex;
    flex-direction: column;
}
.side-pane {
    display: none;
}
.main-pane {
    flex-grow: 1;
}
.thumbnail {
    width: 100%;
    height: 250px;
    max-height: 320px;
}
.thumbnail img {
    object-fit: cover;
}
.item-container {
    display: flex;
    flex-direction: column;
}

/* Desktop */
@media only screen and (min-width: 768px) {
    #root {
        margin: 0 auto;
        padding: 2rem;
    }
    .gallery-container {
        border: solid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .main-pane {
        flex-grow: 1;
    }
    .side-pane {
        border: solid;
        padding: 12px;
        min-width: 120px;
    }
    .item-container {
        align-items: center;
    }
    .thumbnail {
        border: solid;
        height: 150px;
        width: 150px;
    }
}
